@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@600;700&family=Poppins:wght@300;400;500;600&display=swap');
*{
margin:0;
padding:0;
box-sizing:border-box;
}
body{
background:#F5E6CC;
font-family:'Poppins',sans-serif;
color:#3A2E2A;
}
/* TITLE *
.title{
text-align:center;
font-size:45px;
font-family:'Cormorant Garamond',serif;
margin:50px 0 40px;
color:#C65D07;
}
/* COURSES */
.courses{
    display:flex;
    justify-content:center;
    gap:30px;
    flex-wrap:wrap;
    padding:20px 40px 60px;
}

.card{
    width:270px;
    background:#FFF8F0;
    border-radius:15px;
    overflow:hidden;
    border:2px solid #A68A64;
    box-shadow:0 8px 18px rgba(0,0,0,.15);
    transition:.4s;
}

.card:hover{
    transform:translateY(-10px);
    background:#F7E7CE;
}

.card img{
    width:100%;
    height:180px;
    object-fit:cover;
}

.card h3{
    text-align:center;
    margin:15px 0;
    color:#C65D07;
    font-size:28px;
    font-family:'Cormorant Garamond',serif;
}

.card p{
    padding:0 15px;
    text-align:center;
    line-height:1.6;
}

.card button{
    display:block;
    margin:20px auto;
    padding:10px 28px;
    background:#6B705C;
    color:white;
    border:none;
    border-radius:30px;
    cursor:pointer;
    transition:.3s;
}

.card button:hover{
    background:#C65D07;
}

/* GALLERY */

.gallery{
    display:flex;
    justify-content:center;
    gap:20px;
    flex-wrap:wrap;
    padding:20px 40px 60px;
}

.gallery img{
    width:320px;
    height:220px;
    object-fit:cover;
    border-radius:12px;
    border:4px solid #A68A64;
 transition:.4s;
box-shadow:0 6px 15px rgba(0,0,0,.2);
}
.gallery img:hover{
transform:scale(1.05);
border-color:#C65D07;
}
/* RESPONSIVE */
@media(max-width:768px){
.courses{
padding:20px;
.gallery{
padding:20px;
}
.gallery img{
width:100%;
height:220px;
}
}
